useDynLib(jres, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
export(bin.specs)
export(noise2D)
export(projFeat_f1Tof2)
export(read2d)
import(ggplot2)
importFrom(MetaboMate,get.idx)
importFrom(colorRamps,matlab.like2)
importFrom(fields,as.surface)
importFrom(fields,interp.surface)
importFrom(fields,make.surface.grid)
importFrom(gridExtra,grid.arrange)
importFrom(reshape2,melt)
importFrom(scales,pretty_breaks)
importFrom(stats,quantile)
importFrom(stats,sd)
